h1 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    text-align: center;
    margin-top: 30px;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 30px;
    color: aliceblue;
    border-radius: .5cm;
}

.p {
    background-image: url('imag.jpg');
    background-size:150%;
    background-repeat: no-repeat;
}

.brd {
    align-items: center;
    border-style: inherit;
    border-spacing: px;
}

.btn {
    font-size: 32px;
    font-family: Verdana;
    border-color: gray;
    border-radius: .2cm;
    background-color: transparent;
    color: aqua;
}

.btn:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}