h1 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    text-align: center;
    margin: 90px;
    margin-left: 320px;
    margin-right: 320px;
    margin-bottom: 100px;
}
.o{
    background-image: url('1.jpg');
    background-repeat: no-repeat;
}
.btn {
    font-size: xx-large;
    font-family: Verdana;
    border-color: gray;
    background-color: transparent;
}
.btn:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}
.e{
    margin-right: 50px;
}
.p{
    margin-right: 20px;
}
